@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'EF_jejudoldam';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.page-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.left-container {
  width: 100%; /* 초기에는 전체 화면을 차지하도록 설정 */
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  transition: width 0.5s ease; /* 너비 변화에 대한 트랜지션 추가 */
}

.left-container.active {
  width: 30%; /* 활성화될 때 왼쪽에서 30%를 차지하도록 설정 */
}
.left-container button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #aeaeae;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 100px;
}
.left-container button:hover {
  background: #606060;
}
.right-container {
  width: 0;
  height: 100%;
  transition: width 0.5s ease; /* 애니메이션을 추가합니다 */
}
.message {
  position: relative;
  padding: 10px;
  margin: 10px;
  max-width: 60%;
  border-radius: 10px;
  word-wrap: break-word;
}
.message.user {
  background-color: #d1e7dd;
  align-self: flex-end;
  border-radius: 10px 10px 0 10px;
}
.message.bot {
  background-color: #e6e6e6;
  align-self: flex-start;
  border-radius: 10px 10px 10px 0;
}
.message.user::before,
.message.bot::before {
  content: "";
  position: absolute;
  border-style: solid;
}
.message.user::before {
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #d1e7dd;
}
.message.bot::before {
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-width: 10px 10px 10px 0;
  border-color: transparent #e6e6e6 transparent transparent;
}
.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#chat-container {
  visibility: hidden;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
#chat-messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
#user-input {
  display: flex;
  padding: 20px;
  height: 90px;
}
.input-container {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}
#user-input input {
  flex: 1;
  padding: 10px 90px 10px 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}
#interim_span {
  position: absolute;
  flex: 1;
  padding: 10px 90px 10px 10px;
}
.buttons-container {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 5px;
}
.buttons-container .send-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  font-size: 24px;
}
.mic {
  border: none;
  background-color: transparent;
  color: #ccc;
}
#recording-state {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #ccc;
  font-size: 24px;
}
#recording-state.on {
  color: rgb(255, 79, 79) !important;
}
.profile-picture {
  position: absolute;
  top: 80px;
  right: 60px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}